<appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <options>
        <dsn>${SENTRY_DSN}</dsn>
        <!-- Add data like request headers and IP for users, see https://docs.sentry.io/platforms/java/guides/logback/data-management/data-collected/ for more info -->
        <sendDefaultPii>true</sendDefaultPii>
    </options>
    <!-- Optionally change minimum Event level. Default for Events is ERROR -->
    <minimumEventLevel>ERROR</minimumEventLevel>
    <!-- Optionally change minimum Breadcrumbs level. Default for Breadcrumbs is INFO -->
    <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>

    <!-- Root Logger -->
    <root level="error">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SENTRY"/>
    </root>
</appender>